[submodule "base_system/f1tenth_system"]
	path = base_system/f1tenth_system
	url = git@github.com:ChristopherBennewitz/f1tenth_system.git
	branch = ros2-humble
[submodule "base_system/f110_simulator/f1tenth_gym"]
	path = base_system/f110_simulator/f1tenth_gym
	url = git@github.com:ChristopherBennewitz/f1tenth_gym.git
	branch = ros2-humble
[submodule "base_system/f110_simulator/f1tenth_gym_ros"]
	path = base_system/f110_simulator/f1tenth_gym_ros
	url = git@github.com:ChristopherBennewitz/f1tenth_gym_ros.git
	branch = ros2-humble
[submodule "planner/global_planner/global_planner/global_racetrajectory_optimization"]
	path = planner/global_planner/global_planner/global_racetrajectory_optimization
	url = git@github.com:ChristopherBennewitz/global_racetrajectory_optimization.git
	branch = ros2-humble
[submodule "sensors/vesc"]
	path = sensors/vesc
	url = git@github.com:ChristopherBennewitz/vesc.git
	branch = ros2-humble
